@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
}

h1{
    font-family: "Lora", serif;
    font-size: 24px;
    text-align: center;
    margin: 0 auto;
    padding: 25px 10px;
}

.header-image{
    border: 1px solid black;
    max-height: 245px;
    display: block;
    max-width: 720px;
    margin: 0 auto;
}

.header-image img{
    max-height: 100%;
    max-width: 100%;
}

.para-section-div{
    margin: 10px auto;
    width: 460px;

}

.paragraph{
    font-family: "Lora";
    font-size: 16px;
    font-weight: 700;
    color: rgb(152, 152, 152);
    margin-bottom: 15px;
}

.youtube-vid{
    width: 100%;
    height: 320px;
    margin: 0 auto;
}